header{
    background-color: cadetblue;
    /* height: 10vh; */
}
main{
    /* height: 80vh; */
    background: linear-gradient(chocolate, red);
}
footer{
    /* height: 10vh; */
    background-color: cadetblue;
}

/* con esto hacemos que se ponga por ensima de todo el menu hamburguesa */
.navbar{
    position: fixed;
    z-index: 1000;
}