header{
    background-color: cadetblue;
    height: 10vh;
}
main{
    height: 80vh;
    background: linear-gradient(chocolate, red);
}
footer{
    height: 10vh;
    background-color: cadetblue;
    color: bisque;
}